<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brs.order.persistence.mapper.OrderMapper">


    <insert id="createNewOrder">
        insert into order_info
        (
         order_id,
         third_id,
         order_type,
         impact_factor,
         jcr,
         academy_of_science_cn,
         deadline,
         description,
         title,
         deposit,
         total_price,
         key_word
        )values (
        #{newOrder.orderId},
        #{newOrder.thirdId},
        #{newOrder.orderType},
        #{newOrder.impactFactor},
        #{newOrder.jcr},
        #{newOrder.academyOfScienceCn},
        #{newOrder.deadline},
        #{newOrder.description},
        #{newOrder.title},
        #{newOrder.deposit},
        #{newOrder.totalPrice},
        #{newOrder.keyWord}
        )
    </insert>


</mapper>